@model IEnumerable<HAAMEGameReview.Models.Game>

@{
    ViewBag.Title = "HAMME Game Review";
}

<!DOCTYPE html>

<div class="jumbotron">
    <h1>HAAME Game Review</h1>
    <p class="lead">The worlds leading website in all things game related</p>
    <p>Top News</p>
    <label>Search:</label><br />
    <input type="text" />
    <img src="~/Images/cartoon-controller-png.png" height="150" width="200" />
</div>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PEGIRating)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PEGIRating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
                </td>
            </tr>
        }

    </table>
</body>

